<div class="navbar">
    <div class="navbar-inner">
        <div class="left sliding">
            <!-- <a class="home-tabbar-logo back filter-tabbar iconfont icon-back link-back">返回</a> -->
        </div>
        <div class="center sliding">收藏夹</div>
        <a class="right sliding home-login" href="src/views/login.html">登录</a>
    </div>
</div>
<div data-page="home" class="page page-home">
    <div class="page-content">
	    <p>You can contact me:</p>
	    <p>By phone: {{tel}}</p>
	    <p>By email: {{email}}</p>
 </div>
</div>
